In [2]:
#import libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
#read people data
people_df = pd.read_csv("neuro_people.tsv", sep = "\t")

In [4]:
#read relation data
rel_df = pd.read_csv("neuro_relation.tsv", sep = "\t")
rel_df.head()

,cid,pid1,pid2,relation,location,locid,department,startdate,stopdate,addedby,dateadded
0,2,2,3,1,"University of California, Berkeley",312,NaN,2000-00-00,2005-00-00,david,2005-01-15 17:33:57
1,3,4,3,2,"University of California, Berkeley",312,\N,2003-00-00,2006-00-00,david,2005-01-15 17:35:17
2,5,6,3,1,"University of California, Berkeley",312,NaN,2002-00-00,2008-00-00,david,2005-01-15 19:02:54
3,6,18761,9,1,"University of California, Berkeley",312,\N,0000-00-00,1984-00-00,david,2005-01-15 19:06:16
4,7,10,16,2,"Washington University, Saint Louis",497,\N,0000-00-00,0000-00-00,david,2005-01-15 19:06:58

* It seems that "\N" and NaN are used at the same time so a change is required.

In [5]:
#explorring missing 

# \N --> NaN change
people_df = people_df.replace("\\N", float('nan'))
rel_df = rel_df.replace("\\N", float('nan'))

people_df = people_df.replace(float('nan'), "-9")
rel_df = rel_df.replace(float('nan'), "-9")

people_df = people_df.replace('', "-9")
rel_df = rel_df.replace('', "-9")

people_df.head()

,pid,firstname,middlename,lastname,degrees,location,locid,area,majorarea,award,orcid_id,homepage,addedby,dateadded
0,1,Stephen,V.,David,Ph.D.,Oregon Health and Science University,226,"auditory system, attention","neuro,csd,bme",-9,0000-0003-4135-3104,http://hearingbrain.org/,david,2005-01-14 15:50:37
1,3,Jack,L.,Gallant,-9,"University of California, Berkeley",312,Systems,"neuro,psych",-9,-9,http://gallantlab.org,david,2005-01-14 15:51:51
2,5,Kendrick,Norris,Kay,Ph.D.,"University of Minnesota, Twin Cities",406,"visual system, fMRI, computational methods, ne...",neuro,-9,-9,http://cvnlab.net,david,2005-01-15 18:20:41
3,6,Ryan,-9,Prenger,-9,Lawrence Livermore National Laboratory,1480,visual system,neuro,-9,-9,-9,david,2005-01-15 18:23:32
4,8,Kathleen,A.,Hansen,-9,National Institute of Mental Health,214,-9,neuro,-9,-9,-9,hayden,2005-01-15 18:38:58

In [6]:
rel_df.head()

,cid,pid1,pid2,relation,location,locid,department,startdate,stopdate,addedby,dateadded
0,2,2,3,1,"University of California, Berkeley",312,-9,2000-00-00,2005-00-00,david,2005-01-15 17:33:57
1,3,4,3,2,"University of California, Berkeley",312,-9,2003-00-00,2006-00-00,david,2005-01-15 17:35:17
2,5,6,3,1,"University of California, Berkeley",312,-9,2002-00-00,2008-00-00,david,2005-01-15 19:02:54
3,6,18761,9,1,"University of California, Berkeley",312,-9,0000-00-00,1984-00-00,david,2005-01-15 19:06:16
4,7,10,16,2,"Washington University, Saint Louis",497,-9,0000-00-00,0000-00-00,david,2005-01-15 19:06:58

In [7]:
# Counting by columns in people_df: degrees, locid, area, award
loc_string_cnt = people_df['location'].value_counts()
loc_id_cnt = people_df['locid'].value_counts()

loc_string_cnt.values
print(loc_id_cnt.values)

#2982 is the counting for the NaN
loc_id_cnt_re = loc_id_cnt[1:]

[2982 1423 1384 ...    1    1    1]

In [8]:
print(len(loc_id_cnt_re))
print(len(loc_string_cnt))

10166
10270

some string location does not match to locid. The below tried to find out which locid has more than one string values.

In [9]:
#for people
def double_entry_check(id_col, str_col, df):
    check_dict = {}
    for index, row in df.iterrows():
        loc_str = row[str_col]
        loc_id = row[id_col]
        if loc_id not in check_dict.keys():
            check_dict[loc_id] = set([loc_str])
        elif loc_id in check_dict.keys():
            existing_set = check_dict.get(loc_id)
            existing_set.update([loc_str])
            check_dict[loc_id] = existing_set

    for pair in check_dict.items():
        if len(pair[1]) > 1:
            print(pair)

double_entry_check('locid', 'location', people_df)

('1', {'Array', '-9'})
('227', {'Osaka University', 'Osaka University '})
('472', {'University of Würzburg ', 'University of Wurzburg', 'University of Würzburg'})
('422', {'University of Oregon', 'University of Oregon '})
('26', {'Boston College ', 'Boston College'})
('411', {'University of Newcastle', 'University of newcastle '})
('385', {'University of Illinois', 'University of Illinois '})
('240', {"Queen's University ", 'Array', "Queen's University"})
('361', {'University of Bristol', 'University of Bristol '})
('600', {'Dartmouth College ', 'Dartmouth College'})
('151', {'Max Planck Institute for Biological Cybernetics', 'Max Planck Institute for biological Cybernetics'})
('15961', {'Icahn School of Medicine at Mount Sinai ', 'Icahn School of Medicine at Mount Sinai'})
('614', {'University of Texas Health Science Center at Houston', 'University of Texas Health Science Center at Houston '})
('467', {'University of Western Ontario ', 'University of Western Ontario'})
('325', {'Umeå University', 'Umea University'})
('1441', {'University of Connecticut Health Center ', 'University of Connecticut Health Center'})
('266', {'Seoul National University', 'Seoul National University ', 'Seoul National university'})
('452', {'University of Tokyo', 'University of Tokyo '})
('11879', {'Monash University, Victoria, Australia', 'Monash University, Victoria, Australia '})
('76', {'Genentech', 'Genentech  '})
('296', {'Temple University ', 'Temple University'})
('231', {'Peking University', 'Peking University '})
('35', {'Cardiff University ', 'Cardiff University'})
('344', {'Universite Laval', 'Université Laval '})
('401', {'University of Massachusetts ', 'University of Massachusetts'})
('986', {'Saint Louis University', 'Saint Louis University '})
('498', {'Washington University School of Medicine', 'Washington University School of Medicine '})
('112', {'IPM ', 'IPM'})
('574', {'Tufts University ', 'Tufts University'})
('569', {'University of Toledo ', 'University of Toledo'})
('588', {'Instituto Gulbenkian de Ciencia', 'Instituto Gulbenkian de Ciencia '})
('625', {'University of Bonn ', 'Array', 'University of Bonn'})
('658', {'Illinois State University ', 'Illinois State University'})
('407', {'University of Missouri ', 'University of Missouri'})
('689', {'Drexel University ', 'Drexel University'})
('1933', {'University of South Dakota', 'University of South Dakota '})
('4603', {'Keck School of Medicine, University of Southern California', 'Keck School of Medicine, University of Southern California '})
('767', {'University of Aberdeen', 'University of Aberdeen '})
('822', {'Binghamton University', 'Binghamton University '})
('827', {'Maastricht University ', 'Maastricht University'})
('2942', {'Imperial College London', 'Imperial College London '})
('991', {'TU Munich ', 'TU Munich'})
('785', {'Novartis', 'Novartis '})
('1052', {'University of Erlangen-Nurnberg', 'University of Erlangen-Nürnberg'})
('51', {'Collège de France ', 'College de France'})
('1068', {'University of Memphis ', 'University of Memphis'})
('1104', {'University of Hawaii ', 'University of Hawaii'})
('1130', {'MUSC ', 'MUSC'})
('1270', {'Genzyme ', 'Genzyme'})
('1287', {'Wayne State University School of Medicine ', 'Wayne State University School of Medicine'})
('1298', {'Haskins Laboratories ', 'Haskins Laboratories'})
('5877', {'School of Medicine, University of Buenos Aires, Argentina', 'School of Medicine, University of Buenos Aires, Argentina '})
('1432', {'Korea University', 'Korea University '})
('1559', {'University of North Dakota', 'University of North Dakota '})
('378', {'University of Copenhagen ', 'University of Copenhagen'})
('7487', {'DZNE ', 'DZNE'})
('2033', {'National Institute of Biological Sciences, Beijing', 'National institute of biological sciences, Beijing '})
('4033', {'Cornell  ', 'Cornell '})
('2064', {' School of Life Sciences', 'School of Life Sciences'})
('2081', {'University of London ', 'University of London'})
('5523', {'UT El Paso', 'University of Texas at El Paso'})
('2409', {'Northern Michigan University ', 'Northern Michigan University'})
('2522', {' Eastern Pennsylvania Psychiatric Institute', 'Eastern Pennsylvania Psychiatric Institute'})
('4853', {'Washington  University School of Medicine', ' Washington  University School of Medicine'})
('2799', {'Auburn University', 'Auburn University '})
('1135', {' Shanghai Jiao Tong University', 'Shanghai Jiao Tong University'})
('1661', {'Yerkes National Primate Research Center ', 'Yerkes National Primate Research Center'})
('1877', {'Ewha Womans University', 'Ewha Womans University '})
('2801', {' Academia Sinica', 'Academia Sinica'})
('3495', {'washington State University', 'Washington State University'})
('8888', {'Universidad Veracruzana.', 'Universidad Veracruzana. '})
('4328', {'Worcester Polytechnic Institute ', 'Worcester Polytechnic Institute'})
('3000', {'University of Oldenburg', 'university of oldenburg'})
('3289', {'UCSF', 'UCSF '})
('2401', {'University of Jyväskylä', 'University of Jyvaskyla'})
('3232', {'SRI', 'SRI '})
('2567', {'Instituto de Neurobiología, UNAM ', 'Instituto de Neurobiología, UNAM'})
('3441', {"Children's National Medical Center ", "Children's National Medical Center"})
('3561', {'Ludwig Maximilian University Munich ', 'Ludwig Maximilian University Munich'})
('3623', {"St. Jude Children's Research Hospital ", "St. Jude Children's Research Hospital"})
('3711', {'Queen Mary, University of London ', 'Queen Mary, University of London'})
('3796', {'University of Freiburg, Neurology Hospital', 'University of Freiburg, Neurology Hospital '})
('1493', {'Toronto Western Research Institute ', 'Toronto Western Research Institute'})
('3848', {'University of Athens ', 'University of Athens'})
('13128', {'Universitätsklinikum Heidelberg', 'Universitätsklinikum Heidelberg '})
('3103', {'The University of Manchester  ', 'The University of Manchester'})
('4140', {'Furman University', 'Furman University '})
('4158', {'Charité', 'Charité '})
('4319', {'Centre National de la Recherche Scientifique ', 'Centre National de la Recherche Scientifique'})
('3491', {'Florida International University ', 'Florida International University'})
('4451', {'Medical College of Ohio ', 'Medical College of Ohio'})
('18358', {'Univ of Sassari', ' Univ of Sassari'})
('3802', {"Cincinnati Children's Hospital ", "Cincinnati Children's Hospital"})
('2671', {'University of Munich, Germany ', 'University of Munich, Germany'})
('4855', {'Moscow State University', 'Moscow State University '})
('4978', {'university of ', 'university of'})
('1787', {' Marine Biological Laboratory', 'Marine Biological Laboratory'})
('9017', {'Wenzhou Medical College ', 'Wenzhou Medical College'})
('832', {'none', 'none '})
('5580', {'Max Planck Institute for Developmental Biology', 'Max Planck Institute for Developmental Biology '})
('5693', {'Institute of Neuroinformatics, ETH Zurich', 'Institute of Neuroinformatics, ETH Zürich'})
('5870', {'Texas A&M University Health Science Center ', 'Texas A&M University Health Science Center'})
('11456', {'Takeda ', 'Takeda'})
('6155', {'University of Munster', 'University of Münster'})
('6231', {'Max Delbrück Center for Molecular Medicine ', 'Max Delbrück Center for Molecular Medicine'})
('6418', {'La Sapienza, Università di Roma ', 'La Sapienza, Università di Roma'})
('6707', {'Sussex University', 'Sussex University '})
('7098', {'Universidad Complutense', 'Universidad Complutense '})
('7569', {'Shanghai Institute of Materia Medica, Chinese Academy of Sciences ', 'Shanghai Institute of Materia Medica, Chinese Academy of Sciences'})
('7659', {'Fuller Graduate School of Psychology ', 'Fuller Graduate School of Psychology'})
('6528', {'UCL Institute of Neurology', 'UCL Institute of Neurology '})
('8144', {'CUNY Queens College', 'CUNY Queens College '})
('8225', {'University of Malaya ', 'University of Malaya'})
('8228', {'Linköping University', 'Linkoping University'})
('15866', {'Georgia Regents University ', 'Georgia Regents University'})
('2380', {'Whitehead Institute', 'Whitehead Institute '})
('8949', {'Donders Institute of Brain, Cognition and Behaviour ', 'Donders Institute of Brain, Cognition and Behaviour'})
('9405', {'Randolph-Macon College', 'Randolph-Macon College '})
('11517', {'University of Macau ', 'University of Macau'})
('4739', {'Harvard-MIT', 'Harvard-MIT '})
('10472', {'Saarland University', 'Saarland University '})
('5666', {'Massachusetts General Hospital/Harvard Medical School ', 'Massachusetts General Hospital/Harvard Medical School'})
('5021', {'Berry College ', 'Berry College'})
('14220', {'Heinrich Heine University Düsseldorf', 'Heinrich Heine University Düsseldorf '})
('15970', {'Wyss institute @ Harvard', 'Wyss institute @ Harvard '})
('16243', {'VA Palo Alto Health Care System', 'VA Palo Alto Health Care System '})
('16817', {'Flordia State University ', 'Flordia State University'})
('17271', {'Carl von Ossietzky University Oldenburg ', 'Carl von Ossietzky University Oldenburg'})
('18120', {'The University of Texas Health Science Center at Houston (UTHealth)', ' The University of Texas Health Science Center at Houston (UTHealth)'})
('11509', {'Mount Saint Vincent University', 'Mount Saint Vincent University '})
('18786', {'University of Leipzig, Carl-Ludwig-Institute for Physiology ', 'University of Leipzig, Carl-Ludwig-Institute for Physiology'})
('19045', {'Cedars-Sinai Medical Center', 'Cedars-Sinai Medical Center '})
('18808', {'Rutgers Robert Wood Johnson Medical School ', 'Rutgers Robert Wood Johnson Medical School'})
('-9', {'Array', '-9'})

In [10]:
#for rel
double_entry_check('locid', 'location', rel_df)

('393', {'University of Leipzig', 'University of Leipzig '})
('407', {'University of Missouri ', 'University of Missouri'})
('59', {'Duke University ', 'Duke University'})
('600', {'Dartmouth College ', 'Dartmouth College'})
('385', {'University of Illinois', 'University of Illinois '})
('270', {'SISSA', 'SISSA '})
('15961', {'Icahn School of Medicine at Mount Sinai ', 'Icahn School of Medicine at Mount Sinai', 'Mount Sinai School of Medicine'})
('467', {'University of Western Ontario ', 'University of Western Ontario'})
('6428', {'Delft University of Technology ', 'Delft University of Technology'})
('325', {'Umea University', 'Ume?University'})
('103', {'INSERM ', 'INSERM'})
('281', {'Stockholm University ', 'Stockholm University'})
('240', {"Queen's University ", "Queen's University"})
('227', {'Osaka University', 'Osaka University '})
('123', {' Karolinska Institute', 'Karolinska Institute'})
('422', {'University of Oregon', 'University of Oregon '})
('361', {'University of Bristol', 'University of Bristol '})
('266', {'Seoul National University', 'Seoul National University ', 'Seoul National university'})
('452', {'University of Tokyo', 'University of Tokyo '})
('296', {'Temple University ', 'Temple University'})
('231', {'Peking University', 'Peking University '})
('26', {'Boston College ', 'Boston College'})
('35', {'Cardiff University ', 'Cardiff University'})
('498', {'Washington University School of Medicine', 'Washington University School of Medicine '})
('112', {'IPM ', 'IPM'})
('344', {'Universite Laval', 'Universit?Laval '})
('701', {'Charit?Hospital, Berlin', 'Charit?Hospital, Berlin '})
('3289', {'UCSF', 'UCSF ', ' UCSF'})
('45', {'CNRS ', 'CNRS'})
('588', {'Instituto Gulbenkian de Ciencia', 'Instituto Gulbenkian de Ciencia '})
('614', {'University of Texas Health Science Center at Houston', 'University of Texas Health Science Center at Houston '})
('625', {'University of Bonn ', 'University of Bonn'})
('472', {'University of W?zburg', 'University of Wurzburg', 'University of W?zburg '})
('151', {'Max Planck Institute for Biological Cybernetics', 'Max Planck Institute for biological Cybernetics'})
('401', {'University of Massachusetts ', 'University of Massachusetts'})
('767', {'University of Aberdeen', 'University of Aberdeen '})
('574', {'Tufts University ', 'Tufts University'})
('780', {'Zoologisches Institut, Universitaet Zurich', ' Zoologisches Institut, Universitaet Zurich'})
('906', {' Inst Med Psychol Behav Neurobiol University of Tuebingen', 'Inst Med Psychol Behav Neurobiol University of Tuebingen'})
('986', {'Saint Louis University', 'Saint Louis University '})
('827', {'Maastricht University ', 'Maastricht University'})
('8434', {'MGH Martinos Center, Harvard Medical School ', 'MGH Martinos Center, Harvard Medical School'})
('1052', {'University of Erlangen-N?nberg', 'University of Erlangen-Nurnberg'})
('1104', {'University of Hawaii ', 'University of Hawaii'})
('689', {'Drexel University ', 'Drexel University'})
('1298', {'Haskins Laboratories ', 'Haskins Laboratories'})
('591', {'University of Geneva ', 'University of Geneva'})
('822', {'Binghamton University', 'Binghamton University '})
('76', {'Genentech', 'Genentech  '})
('1441', {'University of Connecticut Health Center ', 'University of Connecticut Health Center'})
('1523', {'Lund University', 'Lund University '})
('378', {'University of Copenhagen ', 'University of Copenhagen'})
('1432', {'Korea University', 'Korea University '})
('1787', {' Marine Biological Laboratory', 'Marine Biological Laboratory'})
('1788', {'University of Frankfurt', 'University of Frankfurt '})
('51', {'College de France', 'Coll?e de France '})
('2033', {'National Institute of Biological Sciences, Beijing', 'National institute of biological sciences, Beijing '})
('4033', {'Cornell  ', 'Cornell ', 'Cornell'})
('2081', {'University of London ', 'University of London'})
('2099', {'University of Pennsylvania School of Medicine', ' University of Pennsylvania School of Medicine'})
('5272', {'HHMI Janelia Farm Research Campus ', 'HHMI Janelia Farm Research Campus'})
('411', {'University of Newcastle', 'University of newcastle '})
('1068', {'University of Memphis ', 'University of Memphis'})
('2409', {'Northern Michigan University ', 'Northern Michigan University'})
('1933', {'University of South Dakota', 'University of South Dakota '})
('210', {'National Institute on Deafness and other Communication Disorders', 'National Institute on Deafness and Other Communication Disorders'})
('2567', {'Instituto de Neurobiolog?, UNAM', 'Instituto de Neurobiolog?, UNAM '})
('569', {'University of Toledo ', 'University of Toledo'})
('1135', {' Shanghai Jiao Tong University', 'Shanghai Jiao Tong University'})
('-9', {'Humbolt University Berlin, Cellular Neurophysiology and Pathophysiology, Charit?\t2630"', 'Universidade Federal do Paran?\t5731"', 'Instituto Federal de Educa豫o, Ci?cia e Tecnologia do Paran?\t27586"', 'Universit?de Franche-Comt?\t6767"', 'UFPA - Universidade Federal do Par?\t28553"', 'Universidade Federal do Par?\t3719"', 'Mirail Universit?\t16314"', 'Universidade federal do Amap?\t18777"', 'University of Jyv?kyl?\t2401"', 'Universiti Utara Malaysia?\t23690"', 'Universidade Federal do Cear?\t5730"', 'Aix Marseille Universit?\t17130"', 'H?ital Robert Debr?\t15298"', 'Charit?\t4158"', 'Istituto Superiore di Sanit?\t18837"', 'Aix-Marseille Universit?\t17653"', 'Columbia University?\t23687"', 'Institut de Neurosciences de la Timone UMR 7289 Aix Marseille Universit?\t19385"'})
('2671', {'University of Munich, Germany ', 'University of Munich, Germany'})
('658', {'Illinois State University ', 'Illinois State University'})
('2799', {'Auburn University', 'Auburn University '})
('2801', {' Academia Sinica', 'Academia Sinica'})
('1493', {'Toronto Western Research Institute ', 'Toronto Western Research Institute'})
('991', {'TU Munich ', 'TU Munich'})
('2620', {'Universite de Paris', 'Universit?de Paris '})
('2942', {'Imperial College London', 'Imperial College London '})
('3495', {'washington State University', 'Washington State University'})
('3086', {'Beth Israel Deaconess Medical Center ', 'Beth Israel Deaconess Medical Center'})
('3154', {' Setsunan University', 'Setsunan University'})
('1287', {'Wayne State University School of Medicine ', 'Wayne State University School of Medicine'})
('3441', {"Children's National Medical Center ", "Children's National Medical Center"})
('2380', {'Whitehead Institute', 'Whitehead Institute '})
('193', {' National Taiwan University', 'National Taiwan University'})
('3796', {'University of Freiburg, Neurology Hospital', 'University of Freiburg, Neurology Hospital '})
('3103', {'The University of Manchester  ', 'The University of Manchester'})
('3954', {'PUC - Rio (Rio de Janeiro - Brazil)', 'PUC - Rio (Rio de Janeiro - Brazil) '})
('3875', {'Universite Paris Descartes', 'Universit?Paris Descartes '})
('4140', {'Furman University', 'Furman University '})
('6155', {'University of Munster', 'University of M?ster'})
('4319', {'Centre National de la Recherche Scientifique ', 'Centre National de la Recherche Scientifique'})
('6528', {'UCL Institute of Neurology', 'UCL Institute of Neurology '})
('4603', {'Keck School of Medicine, University of Southern California', 'Keck School of Medicine, University of Southern California '})
('4739', {'Harvard-MIT', 'Harvard-MIT '})
('4451', {'Medical College of Ohio ', 'Medical College of Ohio'})
('4855', {'Moscow State University', 'Moscow State University '})
('1130', {'MUSC ', 'MUSC'})
('4853', {'Washington  University School of Medicine', ' Washington  University School of Medicine'})
('5021', {'Berry College ', 'Berry College'})
('5039', {'Max-Delbr?k Center for Molecular Medicine, Berlin ', 'Max-Delbr?k Center for Molecular Medicine, Berlin'})
('5580', {'Max Planck Institute for Developmental Biology', 'Max Planck Institute for Developmental Biology '})
('16036', {' University of Pittsburgh, School of Medicine', 'University of Pittsburgh, School of Medicine'})
('3623', {"St. Jude Children's Research Hospital ", "St. Jude Children's Research Hospital"})
('3561', {'Ludwig Maximilian University Munich ', 'Ludwig Maximilian University Munich'})
('5870', {'Texas A&M University Health Science Center ', 'Texas A&M University Health Science Center'})
('3802', {"Cincinnati Children's Hospital ", "Cincinnati Children's Hospital"})
('5666', {'Massachusetts General Hospital/Harvard Medical School ', 'Massachusetts General Hospital/Harvard Medical School'})
('6418', {'La Sapienza, Universit?di Roma', 'La Sapienza, Universit?di Roma '})
('6471', {'Royal Society of London ', 'Royal Society of London'})
('2007', {'munich', 'Munich '})
('5523', {'UT El Paso', 'University of Texas at El Paso'})
('7098', {'Universidad Complutense', 'Universidad Complutense '})
('3711', {'Queen Mary, University of London ', 'Queen Mary, University of London'})
('3491', {'Florida International University ', 'Florida International University'})
('7569', {'Shanghai Institute of Materia Medica, Chinese Academy of Sciences ', 'Shanghai Institute of Materia Medica, Chinese Academy of Sciences'})
('4328', {'Worcester Polytechnic Institute ', 'Worcester Polytechnic Institute'})
('3956', {'University of New South Wales (Australia)', 'University of New South Wales (Australia) '})
('7487', {'DZNE ', 'DZNE'})
('3848', {'University of Athens ', 'University of Athens'})
('8228', {'Linkoping University', 'Link?ing University'})
('2934', {'Western Michigan University', ' Western Michigan University'})
('3000', {'University of Oldenburg', 'university of oldenburg'})
('7137', {'Duke-NUS Graduate Medical School ', 'Duke-NUS Graduate Medical School'})
('8949', {'Donders Institute of Brain, Cognition and Behaviour ', 'Donders Institute of Brain, Cognition and Behaviour'})
('6707', {'Sussex University', 'Sussex University '})
('2522', {' Eastern Pennsylvania Psychiatric Institute', 'Eastern Pennsylvania Psychiatric Institute'})
('11517', {'University of Macau ', 'University of Macau'})
('5877', {'School of Medicine, University of Buenos Aires, Argentina', 'School of Medicine, University of Buenos Aires, Argentina '})
('1559', {'University of North Dakota', 'University of North Dakota '})
('10472', {'Saarland University', 'Saarland University '})
('8468', {'Tsinghua University (Beijing) ', 'Tsinghua University (Beijing)'})
('13128', {'Universit?sklinikum Heidelberg ', 'Universit?sklinikum Heidelberg'})
('13237', {'Aga Khan University ', 'Aga Khan University'})
('9277', {' Basque Center on Cognition, Brain and Language', 'Basque Center on Cognition, Brain and Language'})
('9405', {'Randolph-Macon College', 'Randolph-Macon College '})
('10346', {'Chang Gung Memorial Hospital', 'Chang Gung Memorial Hospital '})
('14412', {'Ernst Str?gmann Institute (ESI) for Neuroscience In Cooperation with Max Planck Society ', 'Ernst Str?gmann Institute (ESI) for Neuroscience in Cooperation with Max Planck Society'})
('15566', {'US Army Institute of Surgical Research', 'US Army Institute of Surgical Research '})
('6231', {'Max Delbr?k Center for Molecular Medicine', 'Max Delbr?k Center for Molecular Medicine '})
('12117', {'International School for Advanced Studies (SISSA) ', 'International School for Advanced Studies (SISSA)'})
('2298', {'University of North Carolina - Greensboro ', 'University of North Carolina - Greensboro'})
('15866', {'Georgia Regents University ', 'Georgia Regents University'})
('15924', {'Mt Sinai Hospital ', 'Mt Sinai Hospital'})
('15970', {'Wyss institute @ Harvard', 'Wyss institute @ Harvard '})
('1661', {'Yerkes National Primate Research Center ', 'Yerkes National Primate Research Center'})
('8225', {'University of Malaya ', 'University of Malaya'})
('8144', {'CUNY Queens College', 'CUNY Queens College '})
('7515', {'Brain Science Institute, Tamagawa University, Japan', 'Brain Science Institute, Tamagawa University, Japan '})
('5693', {'Institute of Neuroinformatics, ETH Z?ich', 'Institute of Neuroinformatics, ETH Zurich'})
('11509', {'Mount Saint Vincent University', 'Mount Saint Vincent University '})
('19328', {'Universit? Halle-Wittenberg ', 'Universit? Halle-Wittenberg'})
('5376', {'Amrita University', 'Amrita University '})
('18358', {'Univ of Sassari', ' Univ of Sassari'})
('15607', {'?ole Normale Sup?ieure-Group for Neural Theory (Paris) ', 'Ecole Normale Superieure-Group for Neural Theory (Paris)'})
('18786', {'University of Leipzig, Carl-Ludwig-Institute for Physiology ', 'University of Leipzig, Carl-Ludwig-Institute for Physiology'})
('19045', {'Cedars-Sinai Medical Center', 'Cedars-Sinai Medical Center '})
('18120', {'The University of Texas Health Science Center at Houston (UTHealth)', ' The University of Texas Health Science Center at Houston (UTHealth)'})
('20277', {'New York University, school of medicine', 'New York University, school of medicine '})
('11879', {'Monash University, Victoria, Australia', 'Monash University, Victoria, Australia '})
('785', {'Novartis', 'Novartis '})
('1270', {'Genzyme ', 'Genzyme'})
('2064', {' School of Life Sciences', 'School of Life Sciences'})
('1877', {'Ewha Womans University', 'Ewha Womans University '})
('3232', {'SRI', 'SRI '})
('4309', {'Universit?di Genova ', 'Universit?di Genova'})
('4978', {'university of ', 'university of'})
('9017', {'Wenzhou Medical College ', 'Wenzhou Medical College'})
('832', {'none', 'none '})
('5869', {'Menninger Clinic', 'Menninger Clinic '})
('11456', {'Takeda ', 'Takeda'})
('7659', {'Fuller Graduate School of Psychology ', 'Fuller Graduate School of Psychology'})
('1680', {"Mount Saint Mary's University ", "Mount Saint Mary's University"})
('13716', {'Tuffs University ', 'Tuffs University'})
('14220', {'Heinrich Heine University D?seldorf', 'Heinrich Heine University D?seldorf '})
('16243', {'VA Palo Alto Health Care System', 'VA Palo Alto Health Care System '})
('5815', {'IMCB Singapore ', 'IMCB Singapore'})
('16817', {'Flordia State University ', 'Flordia State University'})
('17271', {'Carl von Ossietzky University Oldenburg ', 'Carl von Ossietzky University Oldenburg'})
('18808', {'Rutgers Robert Wood Johnson Medical School ', 'Rutgers Robert Wood Johnson Medical School'})
('16741', {'East China Normal University, Shanghai ', 'East China Normal University, Shanghai'})
('Psychology', {'Aix Marseille Universit?\t17130"', 'North Dakota State University?\t23680"'})

1) The spaces on the each end side raise problem;

2) the lower case or the capital.

In [11]:
people_df['location'] = people_df['location'].str.rstrip(" ").str.lstrip(" ").str.lower()
rel_df['location'] = rel_df['location'].str.rstrip(" ").str.lstrip(" ").str.lower()

In [12]:
double_entry_check('locid', 'location', people_df)

('1', {'array', '-9'})
('472', {'university of würzburg', 'university of wurzburg'})
('240', {"queen's university", 'array'})
('325', {'umeå university', 'umea university'})
('344', {'université laval', 'universite laval'})
('625', {'university of bonn', 'array'})
('1052', {'university of erlangen-nurnberg', 'university of erlangen-nürnberg'})
('51', {'college de france', 'collège de france'})
('5523', {'university of texas at el paso', 'ut el paso'})
('2401', {'university of jyvaskyla', 'university of jyväskylä'})
('5693', {'institute of neuroinformatics, eth zürich', 'institute of neuroinformatics, eth zurich'})
('6155', {'university of munster', 'university of münster'})
('8228', {'linköping university', 'linkoping university'})
('-9', {'array', '-9'})

In [13]:
double_entry_check('locid', 'location', rel_df)

('15961', {'icahn school of medicine at mount sinai', 'mount sinai school of medicine'})
('325', {'ume?university', 'umea university'})
('344', {'universit?laval', 'universite laval'})
('472', {'university of w?zburg', 'university of wurzburg'})
('1052', {'university of erlangen-n?nberg', 'university of erlangen-nurnberg'})
('51', {'college de france', 'coll?e de france'})
('-9', {'mirail universit?\t16314"', 'columbia university?\t23687"', 'institut de neurosciences de la timone umr 7289 aix marseille universit?\t19385"', 'universit?de franche-comt?\t6767"', 'instituto federal de educa豫o, ci?cia e tecnologia do paran?\t27586"', 'ufpa - universidade federal do par?\t28553"', 'h?ital robert debr?\t15298"', 'istituto superiore di sanit?\t18837"', 'charit?\t4158"', 'universidade federal do amap?\t18777"', 'aix marseille universit?\t17130"', 'university of jyv?kyl?\t2401"', 'aix-marseille universit?\t17653"', 'universidade federal do par?\t3719"', 'universidade federal do cear?\t5730"', 'universidade federal do paran?\t5731"', 'universiti utara malaysia?\t23690"', 'humbolt university berlin, cellular neurophysiology and pathophysiology, charit?\t2630"'})
('2620', {'universit?de paris', 'universite de paris'})
('3875', {'universit?paris descartes', 'universite paris descartes'})
('6155', {'university of munster', 'university of m?ster'})
('5523', {'university of texas at el paso', 'ut el paso'})
('8228', {'linkoping university', 'link?ing university'})
('5693', {'institute of neuroinformatics, eth z?ich', 'institute of neuroinformatics, eth zurich'})
('15607', {'?ole normale sup?ieure-group for neural theory (paris)', 'ecole normale superieure-group for neural theory (paris)'})
('Psychology', {'aix marseille universit?\t17130"', 'north dakota state university?\t23680"'})

Non-English alphabet creates the problem. But the locid captures the unique location. Later we can change the name of the universities

The counting of degree types/the number of universities and area.

In [14]:
degrees_type = people_df['degrees'].value_counts()
len(degrees_type)

1218

In [15]:
degrees_type

-9                                                                59674
Ph.D.                                                             46345
Psy.D.                                                             4881
PhD                                                                2991
Ed.D.                                                              1223
MD                                                                 1105
Ph.D                                                                560
M.D.                                                                408
MD, PhD                                                             221
M.D., Ph.D.                                                         214
MD PhD                                                              180
B.S.                                                                180
MSc                                                                 160
M.Sc.                                                               137
M.S.                                                                132
D.M.A.                                                              120
Dr.                                                                  96
D.B.A.                                                               93
B.A.                                                                 89
D.Ed.                                                                85
MS                                                                   81
BSc                                                                  72
Ed.S.                                                                71
Ph. D.                                                               71
BS                                                                   70
M.A.                                                                 69
D.Ps.                                                                63
BA                                                                   49
M.D. Ph.D.                                                           48
Phd                                                                  46
                                                                  ...
MD/PhD Candidate                                                      1
PhD, Sttanford                                                        1
M.D./Ph.D. Candidate                                                  1
BA PhD                                                                1
Ph.D M.D.                                                             1
D.Clin.Ps                                                             1
EE, MBA                                                               1
MD, Vanderbilt University1994, PhD, Vanderbilt University 1992        1
M.A. Ph.D. M.B.Chir.                                                  1
BS/MS                                                                 1
Directeur de recherche CNRS                                           1
PhD Neurobiology                                                      1
Ph.D., 2000, University of Wisconsin, Madison                         1
PHD, MA                                                               1
B.A., Ph.D. (in progress)                                             1
MD, Medical College of Ohio                                           1
PhD MRes BSc                                                          1
B.S. Biology Psychology                                               1
B.S.E Electrical Engineering                                          1
MD, PhD, DSc                                                          1
MD, PHD                                                               1
M.D., M.P.H., Ph.D.                                                   1
MD, Harvard University 1927                                           1
M.Sc.                                                                 1
MD MPhil (Cantab)                                                     1
Ph.D, University of Rochester 1976                                    1
MD, MRCPath                                                           1
Diplom                                                                1
PhD. MSc.                                                             1
B.Tech, M.S.                                                          1
Name: degrees, Length: 1218, dtype: int64

Needs cleaning... 1218 types??????

- Variations for "MD PhD" and "PhD" --> seems to be two main patterns. 

- some contains their school info.

- Psy.D, == D.Ps == D.Psy. The three are the same

- D.Ed. == Ed.D.

- MSc = M.S. = M.Sc.  = MS

- DVM == Doctor of Veterinary Medicine

- DBA == Doctor of Business Administration


I decided to erase "." first and how this narrow down the variation

In [16]:
#erase "." and make all string upper case
degree_cleaned= people_df['degrees'].str.replace(".", "").str.rstrip(" ").str.upper()

#PH D --> PHD
degree_cleaned = degree_cleaned.str.replace("PH D", "PHD")
print(degree_cleaned.value_counts().head(20))
print(degree_cleaned.value_counts(normalize = True).head(20))

-9         59674
PHD        50141
PSYD        4891
MD          1538
EDD         1228
MD, PHD      486
MSC          343
BS           259
MD PHD       246
MS           225
BA           140
DMA          120
MA           115
DR           106
BSC           99
DBA           93
DED           85
EDS           71
DPS           63
MD/PHD        54
Name: degrees, dtype: int64
-9         0.489850
PHD        0.411596
PSYD       0.040149
MD         0.012625
EDD        0.010080
MD, PHD    0.003989
MSC        0.002816
BS         0.002126
MD PHD     0.002019
MS         0.001847
BA         0.001149
DMA        0.000985
MA         0.000944
DR         0.000870
BSC        0.000813
DBA        0.000763
DED        0.000698
EDS        0.000583
DPS        0.000517
MD/PHD     0.000443
Name: degrees, dtype: float64

The majorities are mssing (-9)  or PhD...? some are pure MD. and there are some MD/PhD, even though the proportion is not big. TMD/PhD might need a special attention so further cleaning may be required after the target sample is fixed but not now.

I saved the people_df here... as date of 109402

In [20]:
people_df.to_csv("people_cleaned_0402.tsv", sep='\t', encoding='utf-8')
rel_df.to_csv("relation_cleaned_0402.tsv", sep='\t', encoding='utf-8')

0         -9
1         -9
2         -9
3         -9
4         -9
5         -9
6         -9
7         -9
8         -9
9         -9
10        -9
11        -9
12        -9
13        -9
14        -9
15        -9
16        -9
17        -9
18        -9
19        -9
20        -9
21        -9
22        -9
23        -9
24        -9
25        -9
26        -9
27        -9
28        -9
29        -9
          ..
121791    -9
121792    -9
121793    -9
121794    -9
121795    -9
121796    -9
121797    -9
121798    -9
121799    -9
121800    -9
121801    -9
121802    -9
121803    -9
121804    -9
121805    -9
121806    -9
121807    -9
121808    -9
121809    -9
121810    -9
121811    -9
121812    -9
121813    -9
121814    -9
121815    -9
121816    -9
121817    -9
121818    -9
121819    -9
121820    -9
Name: award, Length: 121821, dtype: object